src/test/logs
src/test/debug
META-INF/**
Logs/**
log/**
build/**
out/**
target/**
screenshots/**
downloads/**
reports/**

resources/user_context.sql
resources/customer_context.sql
resources/investor_context.sql
Manual_Adhoc.feature
Manual_Adhoc_Test.java

.debug
.settings/
.idea/
.project
.DS_Store

*.html
*.class
*.iml
*.iws
*.jar
*.log
*.tar
*.zip